.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.bug {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    padding: 4px;   
}

.h4{
    font-size: large;
    font-family: Arial, sans-serif;
    color:black;
    padding: 0%;
    display: inline
}