.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.bug {
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
    padding: 5px;   
}
